
<div class="post-form">

  <%= form_for @post do |f| %>

    title:
    <%= f.text_field :title %>

    body:
    <%= f.text_area :body %>

    <div class="submit">
    <%= f.submit %>
    </div>
  <% end %>
</div>
