/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
	font-family: 'Caviar Dreams';
	src: url('fonts/CaviarDreams.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(43,138,186);
  background: linear-gradient(to right, #2B8ABA, #FFFFFF);
  color: #FFFFFF;
  font-family: 'Caviar Dreams', sans-serif;
}


.cloud-background {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud-background img {
  position: fixed;
  bottom: -50%;
  max-width: 120%;
  height: auto;
}


@media only screen and (max-width: 480px) {
  .cloud-background img {
    display: hidden;
  }
}
