/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  cursor:url('custom.png'), wait;
}

 @font-face {
	font-family: 'Caviar Dreams';
	src: url('fonts/CaviarDreams.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(43,138,186);
  background: linear-gradient(to right, #2B8ABA, #FFFFFF);
  color: #FFFFFF;
  font-family: 'Caviar Dreams', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 4em;
  font-style: bold;
}


.cloud-background {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud-background img {
  position: fixed;
  bottom: -50%;
  max-width: 120%;
  height: auto;
  z-index: -1;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li {
  display: flex;
  list-style: none;
}


nav a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav .load-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

nav .load-content a {
  background: rgba(141, 153, 160, 0.3);
  border-radius: 10px;
  box-shadow: 2px 5px rgba(75, 81, 85, 0.3);
  display: flex;
  padding: 3%;
  font-size: 2.5em;
  font-weight: 200;
  z-index: 1;
}

nav .load-content a:hover {
  background: rgba(105, 114, 119, 0.3);
  box-shadow: 2px 5px rgba(50, 54, 57, 0.3);
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .cloud-background img {
    display: hidden;
  }
}
