// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,10%);
  max-height: 63%;
  width: auto;
  color: #000000;
  z-index: 1;
  overflow: scroll;
}

.post-container {
  display: inline-flex;
  position: relative;
}

.post-preview {
   display: inline-block;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   padding: 5px;
  }

.post-preview a {
  font-size: 0.7em;
  color: #000000;
}

.subheader {
  transition: 0.4s;
}

.subheader:hover {
  transform: scale(1.5);
}


.subheader a:hover {
  color: #0b1fa0;
  text-decoration: none;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  background: url('cc2.png') no-repeat;
  background-size:75vmin 100%;
  background-position: center center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #000000;
}


form input {
  border-radius: 10px;
  border-color: #ced8e8;
  padding-bottom: 5px;
  color: #6079a0;
}


textarea {
  border-radius: 10px;
  border-color: #ced8e8;
  color: #6079a0;
}

.submit a {
  max-width: 40%;
}

.dream-container {
  color: #000000;
  display: inline-flex;
  position: relative;
}

.dream-title {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 7%;
  padding-bottom: 1.5%;
}

.dream-date {
  padding-bottom: 2.5%;
  font-size: 0.5em;
}

.dream-content  {
  display: inline-block;
  position: absolute;
  left: 44%;
  top: 44%;
  transform: translate(-50%,-50%);
  overflow: scroll;
  max-height: 50%;
}

.dream-content-full {

}

.author {
  padding: 5%;
  font-size: 0.7em;
}

.author a {
  color: #000000;
}
