// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.post-container {
  display: inline-block;
  list-style: none;
}


.subheader {
  transition: 0.4s;
}

.subheader:hover {
  transform: scale(1.5);
}


.subheader a:hover {
  color: #0b1fa0;
  text-decoration: none;
}
